@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography ----------------------- */
html {
  /* 62.5% of 16px = 10px */
  font-size: 112.5%;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: 2rem;
  margin-right: 2rem;
}

p {
  margin-left: 3rem;
  margin-right: 3rem;
}

li {
  cursor: pointer;
}
